* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 2rem;
}

nav {
    padding: 1rem;
    background-color: #002763;
    color: white;
    font-size: 1.5rem;
}

main {
    padding: 1rem;
    padding-bottom: 16%;
}

section {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16%;
    background-color: #002763;
}

a:hover {
    opacity: .85;
}

.banner {
    display: block;
    width: 100%;
    max-width: 500px;
}

.logout {
    display: inline-block;
}

.logout-button {
    font-size: 1.5rem;
    background-color: #00317a00;
    color: white;
    border: none;
}

.logout-button:hover {
    opacity:.85;
}

.form-with-validation {
    max-width: 600px;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

.form-with-validation div {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.form-submit {
    border-radius: 10px;
    width: 125px;
}

.social-media {
    padding-left: 1rem;
}
