{% extends 'layout.html' %}

{% block title %}
    Sobre mim
{% endblock %}

{% block content %}
    <h1>Sobre mim</h1>
    <p>Apaixonado por programação, curso o segundo semestre de Ciência da Computação na Unicamp e busco minha primeira oportunidade profissional com Python.</p>
    <p>Minha jornada na programação teve início no curso técnico em Informática para Internet na Fiec, onde desenvolvi sólidas bases em banco de dados e familiaridade com<br>
        Typescript. Essa vivência me proporcionou familiaridade com conceitos como modelos relacionais, requisições e servidores.</p>
    <p>No curso de Ciência da Computação, aprofundei meus conhecimentos em programação orientada a objetos e algoritmos, e estou me aprimorando em estruturas de dados.<br>
        Dediquei-me especialmente ao estudo da linguagem Python, reconhecendo seu potencial e versatilidade no desenvolvimento back-end. Através de projetos individuais e <br>
        em equipe, aprimorei minhas habilidades em:</p>
    <ul>
        <li>Arquitetura de software: Implementação de soluções robustas, escaláveis e seguras, seguindo boas práticas de desenvolvimento. </li>
        <li>Banco de dados: Armazenamento, manipulação e consulta de dados de forma eficiente, utilizando ferramentas como SQL, NoSQL e frameworks de ORM.</li>
        <li>Controle de versão: Gerenciamento de alterações no código-fonte, garantindo organização, colaboração e histórico das modificações.</li>
    </ul>
    <p>Sou um profissional dedicado, proativo e com grande capacidade de aprendizado. Possuo excelente comunicação e trabalho em equipe, me adaptando facilmente a novos desafios <br>
        e ambientes. Acredito que a combinação de conhecimentos técnicos, soft skills e paixão pela programação me torna um candidato promissor para diversas funções diferentes.</p>
{% endblock %}