{% extends 'layout.html' %}

{% block title %}
    Projetos
{% endblock %}

{% block content %}
<section>
    <h1>Projetos</h1>

    {% for project in projects %}
        <article class='project'>
            <h2>
                <a href="{% url 'myprojects:page' slug=project.slug %}">
                    {{project.title}}
                </a>
            </h2>
            <p>{{project.date}}</p>
            <p>{{project.preview}}</p>
        </article>
    {% endfor %}
</section>
{% endblock %}
